hw0/files
hw0/node_modules
hw0/data.txt
hw0/final_data.txt
hw0/main
hw0/package-lock.json
hw1-1/files
hw1-1/last
hw1-1/result.txt
hw1-1/test
hw1-1/test.c
hw1-1/nub.py
hw1-2/files
hw1-2/out
hw1-2/main
/hw1-2/main.exe